<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Object Detection</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>

            function handleMissingTimer(missing_timer, missing_record, i) {
<!--            timer isn't active atm -->
                if (missing_timer == "0") {
                    $(`#b${i}_current_timer`).css("display", "none")
                }
<!--            active timer  -->
                else {
                    let tmp_text = "Currently missing: " + missing_timer + "s"
                    $(`#b${i}_current_timer`).text(tmp_text)
                    $(`#b${i}_current_timer`).css("display", "")
                }

<!--            show record of missing times, can be "N/A" if behalter hasn't been removed yet-->
                $(`#b${i}_missing`).text(missing_record)
            }


            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                        (function(){
                $.getJSON(
                    $SCRIPT_ROOT+"/_stuff",
                    function(data) {
                            var b1_dict = data.pos_dict[1]
                            var b2_dict = data.pos_dict[2]
                            var b3_dict = data.pos_dict[3]
                            var b4_dict = data.pos_dict[4]
                            var b5_dict = data.pos_dict[5]
                            var b6_dict = data.pos_dict[6]
                            var b7_dict = data.pos_dict[7]
                            var b8_dict = data.pos_dict[8]
                            var b9_dict = data.pos_dict[9]
                            var dict_arr = [b1_dict, b2_dict, b3_dict, b4_dict, b5_dict, b6_dict, b7_dict, b8_dict, b9_dict]

                            let i = 1
                            for (let tmp_dict of dict_arr) {
                                $(`#b${i}_coords`).text(tmp_dict["coords"])
                                $(`#b${i}_score`).text(tmp_dict["score"])
                                $(`#b${i}_filled`).text(tmp_dict["filled"])
                                $(`#b${i}_wkstk_score`).text(tmp_dict["wkstk_score"])
                                $(`#b${i}_color`).text(tmp_dict["color"] + "  ")

                                let missing_timer = tmp_dict["missing"]
                                let missing_record = tmp_dict["missing_record"]
                                handleMissingTimer(missing_timer, missing_record, i)

                                if (tmp_dict["color"] != "N/A" && tmp_dict["color"] != "UNDECIDED") {
                                    let color = tmp_dict["color"].toLowerCase();
<!--                                    change color .card-header of current loop element-->
                                    $(`#b${i}_coords`).parents(".card-main").siblings().css("background-color", color);
                                    let border = `1px solid ${color}`
<!--                                    change color card outline of current loop element-->
                                    $(`#b${i}_coords`).parents(".card").css("border", border);

                                    $(`#b${i}_color_cell`).css("background-color", color);
                                }
<!--                                if no wkstk is detected, then change css values back-->
                                else {
                                    let color = "#979797"
<!--                                    change color .card-header of current loop element-->
                                    $(`#b${i}_coords`).parents(".card-main").siblings().css("background-color", color);
                                    let border = `1px solid ${color}`
<!--                                    change color card outline of current loop element-->
                                    $(`#b${i}_coords`).parents(".card").css("border", border);

                                    $(`#b${i}_color_cell`).css("background-color", "");

<!--                                    change color of text for filled, score, color-->
                                    color = "black"
                                    $(`#b${i}_filled`).css("color", color);
                                    $(`#b${i}_wkstk_score`).css("color", color);
                                    $(`#b${i}_color`).css("color", color);
                                }

                                i++;
                            }
                    }
                );
                setTimeout(arguments.callee, 3000);
            })();

    </script>

    <style>

        /* Split the screen in half */
        .column {
          height: 100%;
          width: 50%;
          position: fixed;
          z-index: 1;
          top: 0;
          overflow-x: hidden;
          padding-top: 40px;
        }

        /* Control the left side */
        .left {
          left: 0;
          background-color: #eeeeee;
        }

        /* Control the right side */
        .right {
          right: 0;
          background-color: #979797;
        }


    body {
        font-family: 'Open Sans', sans-serif;
        min-height: 95vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 25px;
    }

    .card {
      width: 950px;                 /* Set width of cards */
<!--      height: 180px;-->
      display: flex;                /* Children use Flexbox */
      flex-direction: column;       /* Rotate Axis */
      border: 1px solid #979797;    /* Set up Border */
      border-radius: 4px;           /* Slightly Curve edges */
      overflow: hidden;             /* Fixes the corners */
      margin: 5px;                  /* Add space between cards */
      font-size: 20px;
    }

    .card-header {
      color: black;
      text-align: center;
<!--      font-size: 18px;-->
      font-weight: 600;
      border-bottom: 1px solid #979797;
      background-color: #979797;
      padding: 5px 10px;
    }

    .card-main {
      display: flex;              /* Children use Flexbox */
      flex-direction: column;     /* Rotate Axis to Vertical */
      justify-content: center;    /* Group Children in Center */
      align-items: left;        /* Group Children in Center (on cross axis) */
      padding: 15px 0;            /* Add padding to the top/bottom */
    }

    h1 {
        text-align: center;
    }

    .h1-left {
        color: #979797;
    }

    .h1-right {
        color: #eeeeee;
    }

    .card-left {
        float: left
    }

    .card-right {
        float: left;
        white-space: pre-wrap
    }

    .card-right-2 {
        float: left;
        width: 30px
    }

    .card-current-timer {
        font-weight: bold;
        float: left;
    }


    </style>

</head>

    <body>


           <div class="row">

               <div class="column left">
                   <h1 class="h1-left">Hochregallager matrix</h1>
                   <div class="row">
                    <!-- CARD 1 -->
                    <div class="card">
                        <div class="card-header">0x0</div>
                        <div class="card-main">
                            <div class="main-description" id="pos_0x0"></div>
                            <div class="behaelter coords">
                                <div class="card-left">Coordinates (Top, Left):&nbsp;</div>
                                <div class="card-right" id="b1_coords"></div>
                            </div>
                            <div class="behaelter score">
                                <div class="card-left">Behaelter score:&nbsp;</div>
                                <div class="card-right" id="b1_score"></div>
                            </div>
                            <div class="behaelter filled">
                                <div class="card-left">Filled:&nbsp;</div>
                                <div class="card-right" id="b1_filled"></div>
                            </div>
                            <div class="wkstk score">
                                <div class="card-left">WerkStueck score:&nbsp;</div>
                                <div class="card-right" id="b1_wkstk_score"></div>
                            </div>
                            <div class="behaelter color">
                                <div class="card-left">Werkstueck color:&nbsp;</div>
                                <div class="card-right" id="b1_color"></div>
                                <div class="card-right-2" id="b1_color_cell">&nbsp;</div>
                            </div>
                            <div class="behaelter missing">
                                <div class="card-left">Missing record:&nbsp;</div>
                                <div class="card-right" id="b1_missing"></div>
                                <div class="card-current-timer" id="b1_current_timer"></div>
                            </div>


                        </div>
                    </div>
                    <!-- CARD 2 -->
                    <div class="card">
                        <div class="card-header">0x1</div>
                        <div class="card-main">
                            <div class="main-description" id="pos_0x1"></div>
                            <div class="behaelter coords">
                                <div class="card-left">Coordinates (Top, Left):&nbsp;</div>
                                <div class="card-right" id="b2_coords"></div>
                            </div>
                            <div class="behaelter score">
                                <div class="card-left">Behaelter score:&nbsp;</div>
                                <div class="card-right" id="b2_score"></div>
                            </div>
                            <div class="behaelter filled">
                                <div class="card-left">Filled:&nbsp;</div>
                                <div class="card-right" id="b2_filled"></div>
                            </div>
                            <div class="wkstk_score">
                                <div class="card-left">WerkStueck score:&nbsp;</div>
                                <div class="card-right" id="b2_wkstk_score"></div>
                            </div>
                            <div class="behaelter color">
                                <div class="card-left">Werkstueck color:&nbsp;</div>
                                <div class="card-right" id="b2_color"></div>
                                <div class="card-right-2" id="b2_color_cell">&nbsp;</div>
                            </div>
                            <div class="behaelter missing">
                                <div class="card-left">Missing record:&nbsp;</div>
                                <div class="card-right" id="b2_missing"></div>
                                <div class="card-current-timer" id="b2_current_timer"></div>
                            </div>
                        </div>
                    </div>
                    <!-- CARD 3 -->
                    <div class="card">
                        <div class="card-header">0x2</div>
                        <div class="card-main">
                            <div class="main-description" id="pos_0x2"></div>
                            <div class="behaelter coords">
                                <div class="card-left">Coordinates (Top, Left):&nbsp;</div>
                                <div class="card-right" id="b3_coords"></div>
                            </div>
                            <div class="behaelter score">
                                <div class="card-left">Behaelter score:&nbsp;</div>
                                <div class="card-right" id="b3_score"></div>
                            </div>
                            <div class="behaelter filled">
                                <div class="card-left">Filled:&nbsp;</div>
                                <div class="card-right" id="b3_filled"></div>
                            </div>
                            <div class="wkstk score">
                                <div class="card-left">WerkStueck score:&nbsp;</div>
                                <div class="card-right" id="b3_wkstk_score"></div>
                            </div>
                            <div class="behaelter color">
                                <div class="card-left">Werkstueck color:&nbsp;</div>
                                <div class="card-right" id="b3_color"></div>
                                <div class="card-right-2" id="b3_color_cell">&nbsp;</div>
                            </div>
                            <div class="behaelter missing">
                                <div class="card-left">Missing record:&nbsp;</div>
                                <div class="card-right" id="b3_missing"></div>
                                <div class="card-current-timer" id="b3_current_timer"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- CARD 1 -->
                    <div class="card" id="or-border">
                        <div class="card-header" id="or-header">1x0</div>
                        <div class="card-main">
                            <div class="main-description" id="pos_1x0"></div>
                            <div class="behaelter coords">
                                <div class="card-left">Coordinates (Top, Left):&nbsp;</div>
                                <div class="card-right" id="b4_coords"></div>
                            </div>
                            <div class="behaelter score">
                                <div class="card-left">Behaelter score:&nbsp;</div>
                                <div class="card-right" id="b4_score"></div>
                            </div>
                            <div class="behaelter filled">
                                <div class="card-left">Filled:&nbsp;</div>
                                <div class="card-right" id="b4_filled"></div>
                            </div>
                            <div class="wkstk score">
                                <div class="card-left">WerkStueck score:&nbsp;</div>
                                <div class="card-right" id="b4_wkstk_score"></div>
                            </div>
                            <div class="behaelter color">
                                <div class="card-left">Werkstueck color:&nbsp;</div>
                                <div class="card-right" id="b4_color"></div>
                                <div class="card-right-2" id="b4_color_cell">&nbsp;</div>
                            </div>
                            <div class="behaelter missing">
                                <div class="card-left">Missing record:&nbsp;</div>
                                <div class="card-right" id="b4_missing"></div>
                                <div class="card-current-timer" id="b4_current_timer"></div>
                            </div>
                        </div>
                    </div>
                    <!-- CARD 2 -->
                    <div class="card" id="or-border">
                        <div class="card-header" id="or-header">1x1</div>
                        <div class="card-main">
                            <div class="main-description" id="pos_1x1"></div>
                            <div class="behaelter coords">
                                <div class="card-left">Coordinates (Top, Left):&nbsp;</div>
                                <div class="card-right" id="b5_coords"></div>
                            </div>
                            <div class="behaelter score">
                                <div class="card-left">Behaelter score:&nbsp;</div>
                                <div class="card-right" id="b5_score"></div>
                            </div>
                            <div class="behaelter filled">
                                <div class="card-left">Filled:&nbsp; </div>
                                <div class="card-right" id="b5_filled"></div>
                            </div>
                            <div class="wkstk score">
                                <div class="card-left">WerkStueck score:&nbsp;</div>
                                <div class="card-right" id="b5_wkstk_score"></div>
                            </div>
                            <div class="behaelter color">
                                <div class="card-left">Werkstueck color:&nbsp;</div>
                                <div class="card-right" id="b5_color"></div>
                                <div class="card-right-2" id="b5_color_cell">&nbsp;</div>
                            </div>
                            <div class="behaelter missing">
                                <div class="card-left">Missing record:&nbsp;</div>
                                <div class="card-right" id="b5_missing"></div>
                                <div class="card-current-timer" id="b5_current_timer"></div>
                            </div>
                        </div>
                    </div>
                    <!-- CARD 3 -->
                    <div class="card" id="or-border">
                        <div class="card-header" id="or-header">1x2</div>
                        <div class="card-main">
                            <div class="main-description" id="pos_1x2"></div>
                            <div class="behaelter coords">
                                <div class="card-left">Coordinates (Top, Left):&nbsp;</div>
                                <div class="card-right" id="b6_coords"></div>
                            </div>
                            <div class="behaelter score">
                                <div class="card-left">Behaelter score:&nbsp;</div>
                                <div class="card-right" id="b6_score"></div>
                            </div>
                            <div class="behaelter filled">
                                <div class="card-left">Filled:&nbsp;</div>
                                <div class="card-right" id="b6_filled"></div>
                            </div>
                            <div class="wkstk score">
                                <div class="card-left">WerkStueck score:&nbsp;</div>
                                <div class="card-right" id="b6_wkstk_score"></div>
                            </div>
                            <div class="behaelter color">
                                <div class="card-left">Werkstueck color:&nbsp;</div>
                                <div class="card-right" id="b6_color"></div>
                                <div class="card-right-2" id="b6_color_cell">&nbsp;</div>
                            </div>
                            <div class="behaelter missing">
                                <div class="card-left">Missing record:&nbsp;</div>
                                <div class="card-right" id="b6_missing"></div>
                                <div class="card-current-timer" id="b6_current_timer"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- CARD 1 -->
                    <div class="card" id="red-border">
                        <div class="card-header" id="red-header">2x0</div>
                        <div class="card-main">
                            <div class="main-description" id="pos_2x0"></div>
                            <div class="behaelter coords">
                                <div class="card-left">Coordinates (Top, Left):&nbsp;</div>
                                <div class="card-right" id="b7_coords"></div>
                            </div>
                            <div class="behaelter score">
                                <div class="card-left">Behaelter score:&nbsp;</div>
                                <div class="card-right" id="b7_score"></div>
                            </div>
                            <div class="behaelter filled">
                                <div class="card-left">Filled:&nbsp;</div>
                                <div class="card-right" id="b7_filled"></div>
                            </div>
                            <div class="wkstk score">
                                <div class="card-left">WerkStueck score:&nbsp;</div>
                                <div class="card-right" id="b7_wkstk_score"></div>
                            </div>
                            <div class="behaelter color">
                                <div class="card-left">Werkstueck color:&nbsp;</div>
                                <div class="card-right" id="b7_color"></div>
                                <div class="card-right-2" id="b7_color_cell">&nbsp;</div>
                            </div>
                            <div class="behaelter missing">
                                <div class="card-left">Missing record:&nbsp;</div>
                                <div class="card-right" id="b7_missing"></div>
                                <div class="card-current-timer" id="b7_current_timer"></div>
                            </div>
                        </div>
                    </div>
                    <!-- CARD 2 -->
                    <div class="card" id="red-border">
                        <div class="card-header" id="red-header">2x1</div>
                        <div class="card-main">
                            <div class="main-description" id="pos_2x1"></div>
                            <div class="behaelter coords">
                                <div class="card-left">Coordinates (Top, Left):&nbsp;</div>
                                <div class="card-right" id="b8_coords"></div>
                            </div>
                            <div class="behaelter score">
                                <div class="card-left">Behaelter score:&nbsp;</div>
                                <div class="card-right" id="b8_score"></div>
                            </div>
                            <div class="behaelter filled">
                                <div class="card-left">Filled:&nbsp;</div>
                                <div class="card-right" id="b8_filled"></div>
                            </div>
                            <div class="wkstk score">
                                <div class="card-left">WerkStueck score:&nbsp;</div>
                                <div class="card-right" id="b8_wkstk_score"></div>
                            </div>
                            <div class="behaelter color">
                                <div class="card-left">Werkstueck color:&nbsp;</div>
                                <div class="card-right" id="b8_color"></div>
                                <div class="card-right-2" id="b8_color_cell">&nbsp;</div>
                            </div>
                            <div class="behaelter missing">
                                <div class="card-left">Missing record:&nbsp;</div>
                                <div class="card-right" id="b8_missing"></div>
                                <div class="card-current-timer" id="b8_current_timer"></div>
                            </div>
                        </div>
                    </div>
                    <!-- CARD 3 -->
                    <div class="card" id="red-border">
                        <div class="card-header" id="red-header">2x2</div>
                        <div class="card-main">
                            <div class="main-description" id="pos_2x2"></div>
                            <div class="behaelter coords">
                                <div class="card-left">Coordinates (Top, Left):&nbsp;</div>
                                <div class="card-right" id="b9_coords"></div>
                            </div>
                            <div class="behaelter score">
                                <div class="card-left">Behaelter score:&nbsp;</div>
                                <div class="card-right" id="b9_score"></div>
                            </div>
                            <div class="behaelter filled">
                                <div class="card-left">Filled:&nbsp;</div>
                                <div class="card-right" id="b9_filled"></div>
                            </div>
                            <div class="wkstk score">
                                <div class="card-left">WerkStueck score:&nbsp;</div>
                                <div class="card-right" id="b9_wkstk_score"></div>
                            </div>
                            <div class="behaelter color">
                                <div class="card-left">Werkstueck color:&nbsp;</div>
                                <div class="card-right" id="b9_color"></div>
                                <div class="card-right-2" id="b9_color_cell">&nbsp;</div>
                            </div>
                            <div class="behaelter missing">
                                <div class="card-left">Missing record:&nbsp;</div>
                                <div class="card-right" id="b9_missing"></div>
                                <div class="card-current-timer" id="b9_current_timer"></div>
                            </div>
                        </div>
                    </div>
                </div>

               </div>

               <div class="column right">
                   <h1 class="h1-right">Live streaming webcam</h1>
                   <img src="{{ url_for('video') }}" class="webcam"/>

               </div>

           </div>
    </body>
</html>